.section-ProgressStep {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container-day2 {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 400px;
}

.progress-container::before {
  content: "";
  background-color: var(--dark-gray);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--green-light);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #f1f1f1;
  color: #252525;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-gray);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--green-light);
  color: var(--green-light);
}

.btn-step {
  background-color: var(--green-light);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn-step:active {
  transform: scale(0.98);
}

.btn-step:focus {
  outline: 0;
}

.btn-step:hover {
  background-color: var(--green-dark);
  transition: 0.2s ease-in;
}

.btn-step:disabled {
  background-color: var(--dark-gray);
  cursor: not-allowed;
}
